:root {
    /*fonts*/
--main-font: "roboto",sans-serif;
--secondary-font: "raleway", sans-serif;

    /*text colors*/
--main-txt-cl: #212121;
--accent-tx-cl: #2196F3;
    
    /*bg colors*/
--dark-bg-cl: #2F303A;
--light-bg-cl: #F5F4FA;
    
    /*others*/
}


.body 
{font-family: var(--main-font);
color: var(--main-txt-cl);
}

/*reset styles*/
.link {text-decoration: none; 
color: var(--main-txt-cl);
}
.list {list-style: none;
}

/*header section*/
.logo-link {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    color: var(--main-txt-cl);
}
.accent {
    color: var(--accent-tx-cl);
}
.header-link {
    font-weight: 500;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.02em;
    color: var(--main-txt-cl);
}
.head-address {
    font-weight: 500;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.02em;
    color: #757575;
}


.link:hover,
.link:focus
{color: var(--accent-tx-cl);
}
.header-nav .link.current {
    color: var(--accent-tx-cl)
}

.btn:hover,
.btn:focus {
    color: var(--accent-tx-cl);
}





.not-visible 
{display: none;}